.groups {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

.groups--container {
  width: 90%;
}

.group-list {
  display: flex;
  flex-direction: column;
}

.group-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}